@model MvcOnlineTicariOtomasyon.Models.Siniflar.KargoDetay

@{
    ViewBag.Title = "YeniKargo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kargo Girişi</h2>
<br />

<form method="post">
    @Html.LabelFor(x => x.TakipKodu)
    <input type="text" class="form-control" name="TakipKodu" value="@ViewBag.takipkod" readonly />
    <br />
    @Html.LabelFor(x => x.Personel)
    @Html.TextBoxFor(x => x.Personel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Alici)
    @Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    <input type="date" class="form-control" name="Tarih" />
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>